body{

  }

.tableauPlaceholder{
    background-color: #000
}

h1 {
  /*background-color: #07b12c;*/
}

.navbar-expand-lg bg-primary{
    color : "#000";
}
#navbar-expand-lg bg-primary{
    color : "#000";
}