<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <style>
      .left-align {
        margin: 20px;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about_us">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    </nav>
    
    <h1 class="left-align">About Us</h1>
    <p class="left-align">Click the names of each team member to navigate to their respective Github!</p>

    <div class=" container">
    <style>
      .team-member-image {
        width: 400px;
        height: 400px;
      }
    </style>

<div class="row">
  <div class="col-md-6">
    <h2><a href="https://github.com/Cagan124">Cagan Abney</a></h2>
    <img src="static/image/John_Abney.png" alt="Team Member 1" class="img-fluid">
    <p>Cagan graduated from the University of Arkansas in 2019. He's excited to dive deeper into Data Science and Analytics. In his free time, he likes to attend sporting events, travel, and spend time with friends/family.</p>
  </div>
  <div class="col-md-6">
    <h2><a href="https://github.com/cisnerosjp">Jason Cisneros</a></h2>
    <img src="static/image/Jason_Cisneros.jpg" alt="Team Member 2" class="img-fluid">
    <p>Mr. Cisneros is an Application Developer who resides in Dallas, TX. He 
      is a student at Southern Methodist University and is in the process of 
      becoming a certified Data Analyst. He is looking forward to pursuing 
      this new career field and is a die hard Cowboys fan!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2><a href="https://github.com/YusanBolt91">Raheem Yusuff</a></h2>
    <img src="static/image/Raheem_Yusuff.jpg" alt="Team Member 3" class="img-fluid">
    <p>Raheem Yusuff is a Business Analyst at EDHC. He graduated from Baruch College with a Bachelor's Degree in Finance. His hobbies includes working out, running, and eating. </p>
  </div>
  <div class="col-md-6">
    <h2><a href="https://github.com/halej2">Joshua Hale</a></h2>
    <img src="static/image/Joshua_Hale.jpg" alt="Team Member 4" class="img-fluid">
    <p>Joshua is an Internal Auditor at JP Morgan Chase. He graduated from Virginia Commonwealth University with a Bachelor's Degree in Applied Mathematics. In his free time, he likes to play video games and watch sports.</p>
  </div>
</div>`
  

</body>
</html>
