<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Works Cited</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"integrity="sha384qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"crossorigin="anonymous">
    <!-- Our CSS -->
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



</head>

<body style="background-color:#000000">
    <nav class="navbar navbar-expand-lg" style="background-color:#1DB954" data-bs-theme="dark">
        <div class="container-fluid">
          <h4>Spotify Recommender</h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #000;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="spotify_recommender">Spotify Recommender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tableau01">Playlist Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tableau02">Genre Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="works_cited">Works Cited</a>
                <span class="visually-hidden">(current)</span>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="write_up">Write-Up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h1 class="text-white">Works Cited</h1>
    <ul>
        <li class="text-white">Algolia. "Cosine Similarity: What Is It and How Does It Enable Effective and Profitable Recommendations?" Algolia Blog. <a href="https://www.algolia.com/blog/ai/cosine-similarity-what-is-it-and-how-does-it-enable-effective-and-profitable-recommendations/">Link</a></li>
        <li class="text-white">IBM. "K-Nearest Neighbors (KNN)." IBM. <a href="https://www.ibm.com/topics/knn">Link</a></li>
        <li class="text-white">Kaggle. "Spotify Tracks Dataset." Kaggle. <a href="https://www.kaggle.com/datasets/maharshipandya/-spotify-tracks-dataset/data">Link</a></li>
        <li class="text-white">Kaggle. "Top Spotify Songs 2023." Kaggle. <a href="https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023">Link</a></li>
        <li class="text-white">Scikit-learn. "sklearn.neighbors.NearestNeighbors." Scikit-learn Documentation. <a href="https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html">Link</a></li>
    </ul>
    <!-- <embed src="example.pdf" type="application/pdf" width="100%" height="600px" /> -->
</body>
</html>

